<p id="notice"><%= notice %></p>

<h1>Departamentos</h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @departamentos.each do |departamento| %>
      <tr>
        <td><%= departamento.nome %></td>
        <td><%= link_to 'Ver Produtos', departamento, class:"btn btn-info" %></td>
        <td><%= link_to 'Editar Departamento', edit_departamento_path(departamento), class:"btn btn-warning" %></td>
        <td><%= link_to 'Excluir Departamento', departamento, method: :delete, data: { confirm: "Tem certeza que quer excluir o #{departamento.nome}?" }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Criar Novo Departamento', new_departamento_path, class:"btn btn-success" %>
